.form {
    z-index: 5;
    color: white;
    position: absolute;
    top: 20px;
    left:50%;
    transform: translateX(-50%);

}

.form > input {
    font-size: 30px;
    border-bottom: 2px solid #e6df44;
    outline: none;
}

.form > button {
    font-size: 30px;
    background-color: #e6df44;
    cursor: pointer;
    outline: none;
    transition: all .2s;
}

.form > button:active {
    transform: translateY(2px)
}