.navbar {
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
}

.logo {
  color: white !important;
}

.nl {
  cursor: pointer;
  font: white;
}

a {
  padding: 0 15px;
  text-decoration: none;
  cursor: pointer;
  color: gray;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none !important;
}

.firstNavItem {
  margin-top: 10px;
}

@media (max-width: 550px) {
  .logo {
    padding: 0;
  }
}

.navbar-nav {
  margin-top: 10px;
}